* {
  box-sizing: border-box;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #4d4d4d;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

input {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

#react-html-container {
  max-width: 600px;
  margin: 0 auto;
}

.todo-list-app,
.readme {
  a {
    color: #777;
  }

  a:hover {
    color: darken(#bbb, 20%);
  }
}

.todo-list-app {
  font-size: 16px;
  color: #777;

  h1 {
    font-size: 80px;
    text-align: center;
    font-weight: lighter;
  }

  .app-container {
    background: white;
    box-shadow: 0 10px 30px #ddd;
    margin: 0 5%;
    border-top: 10px solid #FDCB38;
    border-radius: 4px 4px 0 0;
  }

  ul {

    li {
      line-height: 1.5;
      padding: 5px 0px;
      margin: 0 10px;
      border-top: 1px solid #eee;

      &:first-child {
        border: none;
      }
    }
  }

  input {
    width: 100%;
    border: 1px solid #ddd;
    border-width: 0 0 1px 0;
    padding: 5px 10px;
    outline: none;
    font-size: 18px;
    line-height: 1.5;
  }

  button {
    display: none;
  }

  p.bottom-bar {
    text-align: center;
    color: #bbb;

  }

}

.readme {
  margin: 0 5% 50px 5%;
  font-size: 16px;

  .back-link {
    padding: 5px 10px;
    background: #eee;
    margin: 5px 0;
    display: inline-block;
    border-radius: 2px;
    font-size: 14px;
  }

  h1 {
    font-size: 26px;
    line-height: 2;
  }

  h2 {
    font-size: 20px;
    line-height: 2;
  }

  h3 {
    font-size: 14px;
    line-height: 2;
    font-weight: bold;
  }

  p {
    margin: 5px 0 10px 0;
  }

  code {
    font-size: .8em;
    padding: 10px;
    margin: 10px 0;
    display: block;
    background: #eee;
    overflow: auto;
  }

  ol, ul {
    margin-left: 2em;
    line-height: 1.2;
  }

  ol {
    list-style-type: decimal;
  }

  ul {
    list-style-type: disc;
  }

}

.page-views {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
}

.page-view {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background: white;
  -webkit-overflow-scrolling: touch;

  &.current-to-before {
    transform: translate3d(-20%, 0, 0);
    animation: current-to-before .5s ease;
  }

  &.current-to-after {
    z-index: 1;
    transform: translate3d(100%, 0, 0);
    animation: current-to-after .5s ease;
  }

  &.after-to-current {
    z-index: 1;
    transform: translate3d(0, 0, 0);
    animation: after-to-current .5s ease;
  }

  &.before-to-current {
    transform: translate3d(0, 0, 0);
    animation: before-to-current .5s ease;
  }

}

@keyframes current-to-before {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(-20%, 0, 0); }
}

@keyframes after-to-current {
  from { transform: translate3d(100%, 0, 0); }
  to { transform: translate3d(0, 0, 0); }
}

@keyframes before-to-current {
  from { transform: translate3d(-20%, 0, 0); }
  to { transform: translate3d(0, 0, 0); }
}

@keyframes current-to-after {
  from { transform: translate3d(0, 0, 0); }
  to { transform: translate3d(100%, 0, 0); }
}

@keyframes fade-in {
  from { opacity: .5 }
  to { opacity: 1 }
}
