* {
  box-sizing: border-box;
}

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  line-height: 1.4;
  color: #4d4d4d;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

input {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

#react-html-container {
  max-width: 500px;
  margin: 0 auto;
}

.todo-list-app {
  font-size: 16px;
  color: #777;

  h1 {
    font-size: 80px;
    text-align: center;
    font-weight: lighter;
  }

  .app-container {
    background: white;
    box-shadow: 0 10px 30px #ddd;
    margin: 0 5%;
    border-top: 10px solid #FDCB38;
    border-radius: 4px 4px 0 0;
  }

  ul {

    li {
      line-height: 1.5;
      padding: 5px 0px;
      margin: 0 10px;
      border-top: 1px solid #eee;

      &:first-child {
        border: none;
      }
    }
  }

  input {
    width: 100%;
    border: 1px solid #ddd;
    border-width: 0 0 1px 0;
    padding: 5px 10px;
    outline: none;
    font-size: 18px;
    line-height: 1.5;
  }

  button {
    display: none;
  }

  p.bottom-bar {
    text-align: center;
    color: #bbb;
  }

}
